{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/todos.css' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <nav>
        <a href="{% url 'todo_list_list' %}">Main Page</a>
        <a href="{% url 'todo_list_edit' list_details.id %}">Edit List</a>
        <a href="{% url 'todo_list_delete' list_details.id %}">Delete List</a>

    </nav>
    <body>
        <main>
            <h1>Reminders</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stuff in list_details.items.all %}
                        <tr>
                            <td>{{ stuff.task }}</td>
                            <td>{{ stuff.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
