{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/todos.css' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <nav>
        <a href="{% url 'todo_list_list' %}">Main Page</a>
        <a href="{% url 'todo_list_create' %}">Create A List</a>
    </nav>
    <body>
        <main>
            <h1>My Lists</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for List in todo_list_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_list_detail' List.id %}">{{ List.name }}</a>
                                </td>
                                <td>{{ List.items.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
