@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

html {
    font-family: 'Alkatra', cursive;
    background-color: #ffec5c2f;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-left: 1%;
    margin-bottom: 50px;
}

footer {
    padding-top: 24;
    padding-bottom: 24;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    z-index: -1;
    background-color: #B4CF66;
    padding: 20px;
}


img {
    height: 200px;
    box-shadow: 2px 2px 4px #0000004b;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
    text-shadow: 2px 2px 4px #0000004b;
    text-align: center;
}

a:hover {
    color: rgb(58, 0, 29);
}

tbody>tr:nth-child(odd) {
    background-color: rgba(220, 220, 220, 0.521);
}

table,
th,
td {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-collapse: collapse;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

a {
    text-decoration: none;
}

main a {
    color: #44803F;
    text-shadow: 2px 2px 4px #0000004b;
}

nav a {
    color: white;
    font-weight: normal;
    padding: 10px 5px;
    padding-right: 20px;
    display: inline;
    width: 100%,
}

h1 {
    color: #146152;
    text-shadow: 2px 2px 2px #0000004b;
}
